<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXMfiVqc5xAA32GfsqzakxpQWIyNzsibo</string>
	<key>GCM_SENDER_ID</key>
	<string>949231290501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loohp.hkbuseta</string>
	<key>PROJECT_ID</key>
	<string>hkbuseta</string>
	<key>STORAGE_BUCKET</key>
	<string>hkbuseta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949231290501:ios:e01e93a7303a96ad8701ec</string>
</dict>
</plist>